.container {
  background-color: var(--white-color);
  max-width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.imageCarouselWrapper {
  display: flex;
  justify-content: space-between;
}

.textsWrapper {
  display: flex;
  justify-content: space-between;
}