.wrapper {
  display: flex;
  justify-content: space-between;
}

.leftColumn {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.rightColumn {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.navWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: start;
}