html {
  --black-color: #F5F3F0;
  --dark-gray-color: #434040;
  --gray-color: #656464;
  --light-gray-color: #cdcbcb;
  --white-color: #f5f3f0;
  --creme-color: #edebe8;

  --px: clamp(2rem, 6vw, 7.5rem);

  --bg-transition: background .5s ease;
}