.typo-xs {
  font-size: 1rem;
}

.typo-sm {
  font-size: 1.2rem;
}

.typo-rg {
  font-size: 1.6rem;
}

.typo-md {
  font-size: 1.9rem;
}

.typo-lg {
  font-size: 2.3rem;
}

.typo-xl {
  font-size: 7rem;
}

.typo-2xl {
  font-size: 9rem;
}

.typo-3xl {
  font-size: 12rem;
}