.typo-xs {
  font-size: clamp(0.8rem, 1.5vw, 1rem);
}

.typo-sm {
  font-size: clamp(1rem, 2vw, 1.2rem);
}

.typo-rg {
  font-size: clamp(1.2rem, 2.5vw, 1.6rem);
}

.typo-md {
  font-size: clamp(1.4rem, 3vw, 1.9rem);
}

.typo-lg {
  line-height: normal;
  font-size: clamp(1.6rem, 3.5vw, 2.3rem);
}

.typo-xl {
  font-size: clamp(2rem, 5vw, 3rem);
}

.typo-2xl {
  font-size: clamp(3rem, 8vw, 5rem);
}

.typo-3xl {
  font-size: clamp(4rem, 10vw, 7rem);
}

.typo-4xl {
  font-size: clamp(5rem, 12vw, 9rem);
}

.typo-5xl {
  font-size: clamp(9rem, 15vw, 14rem);
}

.typo-normal {
  font-weight: 400;
}

.typo-regular {
  font-weight: 500;
}

.typo-semibold {
  font-weight: 600;
}

.typo-bold {
  font-weight: 700;
}